.container-basket {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-cart-basket {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: column;
  margin-top: 10px;
}

.empty-basket-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.sad-face {
  font-size: 100px;
}

.content-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.content-element-button {
  width: 420px;
}
