.container-basket {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-cart-basket {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: column;
  margin-top: 10px;
}

.content-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.content-element-button {
  width: 420px;
}
